:root {

  /* color variables */
  --bg-primary-color: #000000;
  --secondary-color: #ffffff;
  --bg-color: #ffffff;

  /* Text variables */
  --text-color: #ffffff;
  
  /* spacing variables */
  --space-xs:4px;
  --space-sm:8px;
  --space-md:16px;
  --space-lg:24px;
  --space-xl:32px;
  --space-2xl:40px;
  --space-3xl:48px;

  /* *border colors */
  --border-primery:#212121;

  /* border radious */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
  

  

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-color);
  line-height: 1.5;
}


main, section {
  height: 100%;
  width: 100%; 
}
section{
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-lg);
}

section .infos{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info{
  padding:var(--space-sm) var(--space-md) ;
  border: 2px solid var(--border-primery);
  border-radius: var(--border-radius-sm);
}

.board{
  border: 2px solid var(--border-primery);
  flex-grow: 1;
  display:grid;
  grid-template-columns:repeat(auto-fill, 30px) ;
  grid-template-rows: repeat(auto-fill, 30px);
}


.block{
  height: 30px;
  width:  30px;
  border: 1px solid var(--border-primery);
  
}