*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #333;
}

:root{
  --bg-promeery-color: #212121;
}